/* login.css */
.login-container {
  /* Green gradient background */
  background: linear-gradient(135deg, #56ab2f, #a8e063);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.login-paper {
  padding: 2rem;
  margin: 1rem;
  border-radius: 8px;
}
.wrapping-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
}
